body {
    margin: 0;
    padding: 0;
}
h1, .titre{
    font-family: "saonara";
}
h2, h3, h4, h5, .sous-titre, p, .textForm{
    font-family: "mirage";
}

.sous-titre{
    letter-spacing: 7px;

}

p{
    letter-spacing: 4px;

}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.blocHorizontal {
    display: flex;
    flex-direction: row;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.container1 {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    display: none;
}

.one {
    background: #b1f8f2;
}
.two {
    background: #fffc99;
}